In [25]:
#Firts Import Libraries
!pip install pandas_profiling
import pandas as pd
from pandas_profiling import ProfileReport

Requirement already satisfied: pandas_profiling in c:\users\data master\anaconda3\lib\site-packages (3.6.6)
Requirement already satisfied: ydata-profiling in c:\users\data master\anaconda3\lib\site-packages (from pandas_profiling) (4.5.1)
Requirement already satisfied: tqdm<5,>=4.48.2 in c:\users\data master\anaconda3\lib\site-packages (from ydata-profiling->pandas_profiling) (4.59.0)
Requirement already satisfied: multimethod<2,>=1.4 in c:\users\data master\anaconda3\lib\site-packages (from ydata-profiling->pandas_profiling) (1.9.1)
Requirement already satisfied: scipy<1.12,>=1.4.1 in c:\users\data master\anaconda3\lib\site-packages (from ydata-profiling->pandas_profiling) (1.6.2)
Requirement already satisfied: htmlmin==0.1.12 in c:\users\data master\anaconda3\lib\site-packages (from ydata-profiling->pandas_profiling) (0.1.12)
Requirement already satisfied: numpy<1.24,>=1.16.0 in c:\users\data master\anaconda3\lib\site-packages (from ydata-profiling->pandas_profiling) (1.20.1)
Requirement already satisfied: jinja2<3.2,>=2.11.1 in c:\users\data master\anaconda3\lib\site-packages (from ydata-profiling->pandas_profiling) (2.11.3)
Requirement already satisfied: statsmodels<1,>=0.13.2 in c:\users\data master\anaconda3\lib\site-packages (from ydata-profiling->pandas_profiling) (0.14.0)
Requirement already satisfied: matplotlib<4,>=3.2 in c:\users\data master\anaconda3\lib\site-packages (from ydata-profiling->pandas_profiling) (3.3.4)
Requirement already satisfied: phik<0.13,>=0.11.1 in c:\users\data master\anaconda3\lib\site-packages (from ydata-profiling->pandas_profiling) (0.12.3)
Requirement already satisfied: visions[type_image_path]==0.7.5 in c:\users\data master\anaconda3\lib\site-packages (from ydata-profiling->pandas_profiling) (0.7.5)
Requirement already satisfied: dacite>=1.8 in c:\users\data master\anaconda3\lib\site-packages (from ydata-profiling->pandas_profiling) (1.8.1)
Requirement already satisfied: seaborn<0.13,>=0.10.1 in c:\users\data master\anaconda3\lib\site-packages (from ydata-profiling->pandas_profiling) (0.11.1)
Requirement already satisfied: PyYAML<6.1,>=5.0.0 in c:\users\data master\anaconda3\lib\site-packages (from ydata-profiling->pandas_profiling) (5.4.1)
Requirement already satisfied: requests<3,>=2.24.0 in c:\users\data master\anaconda3\lib\site-packages (from ydata-profiling->pandas_profiling) (2.25.1)
Requirement already satisfied: typeguard<3,>=2.13.2 in c:\users\data master\anaconda3\lib\site-packages (from ydata-profiling->pandas_profiling) (2.13.3)
Requirement already satisfied: imagehash==4.3.1 in c:\users\data master\anaconda3\lib\site-packages (from ydata-profiling->pandas_profiling) (4.3.1)
Requirement already satisfied: pandas!=1.4.0,<2.1,>1.1 in c:\users\data master\anaconda3\lib\site-packages (from ydata-profiling->pandas_profiling) (1.2.4)
Requirement already satisfied: pydantic<2,>=1.8.1 in c:\users\data master\anaconda3\lib\site-packages (from ydata-profiling->pandas_profiling) (1.10.12)
Requirement already satisfied: wordcloud>=1.9.1 in c:\users\data master\anaconda3\lib\site-packages (from ydata-profiling->pandas_profiling) (1.9.2)
Requirement already satisfied: PyWavelets in c:\users\data master\anaconda3\lib\site-packages (from imagehash==4.3.1->ydata-profiling->pandas_profiling) (1.1.1)
Requirement already satisfied: pillow in c:\users\data master\anaconda3\lib\site-packages (from imagehash==4.3.1->ydata-profiling->pandas_profiling) (8.2.0)
Requirement already satisfied: attrs>=19.3.0 in c:\users\data master\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.5->ydata-profiling->pandas_profiling) (20.3.0)
Requirement already satisfied: tangled-up-in-unicode>=0.0.4 in c:\users\data master\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.5->ydata-profiling->pandas_profiling) (0.2.0)
Requirement already satisfied: networkx>=2.4 in c:\users\data master\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.5->ydata-profiling->pandas_profiling) (2.5)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\data master\anaconda3\lib\site-packages (from jinja2<3.2,>=2.11.1->ydata-profiling->pandas_profiling) (1.1.1)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\data master\anaconda3\lib\site-packages (from matplotlib<4,>=3.2->ydata-profiling->pandas_profiling) (2.8.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\data master\anaconda3\lib\site-packages (from matplotlib<4,>=3.2->ydata-profiling->pandas_profiling) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\data master\anaconda3\lib\site-packages (from matplotlib<4,>=3.2->ydata-profiling->pandas_profiling) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\data master\anaconda3\lib\site-packages (from matplotlib<4,>=3.2->ydata-profiling->pandas_profiling) (0.10.0)
Requirement already satisfied: six in c:\users\data master\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib<4,>=3.2->ydata-profiling->pandas_profiling) (1.15.0)
Requirement already satisfied: decorator>=4.3.0 in c:\users\data master\anaconda3\lib\site-packages (from networkx>=2.4->visions[type_image_path]==0.7.5->ydata-profiling->pandas_profiling) (5.0.6)
Requirement already satisfied: pytz>=2017.3 in c:\users\data master\anaconda3\lib\site-packages (from pandas!=1.4.0,<2.1,>1.1->ydata-profiling->pandas_profiling) (2021.1)
Requirement already satisfied: joblib>=0.14.1 in c:\users\data master\anaconda3\lib\site-packages (from phik<0.13,>=0.11.1->ydata-profiling->pandas_profiling) (1.0.1)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\data master\anaconda3\lib\site-packages (from pydantic<2,>=1.8.1->ydata-profiling->pandas_profiling) (4.7.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\data master\anaconda3\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling->pandas_profiling) (2020.12.5)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\data master\anaconda3\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling->pandas_profiling) (1.26.4)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\data master\anaconda3\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling->pandas_profiling) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in c:\users\data master\anaconda3\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling->pandas_profiling) (2.10)
Requirement already satisfied: packaging>=21.3 in c:\users\data master\anaconda3\lib\site-packages (from statsmodels<1,>=0.13.2->ydata-profiling->pandas_profiling) (23.1)
Requirement already satisfied: patsy>=0.5.2 in c:\users\data master\anaconda3\lib\site-packages (from statsmodels<1,>=0.13.2->ydata-profiling->pandas_profiling) (0.5.3)

In [15]:
dataset= pd.read_csv("Global YouTube Statistics.csv")

In [20]:
dataset.head()

,rank,Youtuber,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,...,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
0,1,T-Series,245000000,2.280000e+11,Music,T-Series,20082,India,IN,Music,...,2000000.0,2006.0,Mar,13.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
1,2,YouTube Movies,170000000,0.000000e+00,Film & Animation,youtubemovies,1,United States,US,Games,...,NaN,2006.0,Mar,5.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
2,3,MrBeast,166000000,2.836884e+10,Entertainment,MrBeast,741,United States,US,Entertainment,...,8000000.0,2012.0,Feb,20.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
3,4,Cocomelon - Nursery Rhymes,162000000,1.640000e+11,Education,Cocomelon - Nursery Rhymes,966,United States,US,Education,...,1000000.0,2006.0,Sep,1.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
4,5,SET India,159000000,1.480000e+11,Shows,SET India,116536,India,IN,Entertainment,...,1000000.0,2006.0,Sep,20.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880

In [21]:
print(dataset)

     rank                    Youtuber  subscribers   video views  \
0       1                    T-Series    245000000  2.280000e+11
1       2              YouTube Movies    170000000  0.000000e+00
2       3                     MrBeast    166000000  2.836884e+10
3       4  Cocomelon - Nursery Rhymes    162000000  1.640000e+11
4       5                   SET India    159000000  1.480000e+11
..    ...                         ...          ...           ...
990   991                Natan por A�     12300000  9.029610e+09
991   992    Free Fire India Official     12300000  1.674410e+09
992   993                       Panda     12300000  2.214684e+09
993   994                 RobTopGames     12300000  3.741235e+08
994   995                Make Joke Of     12300000  2.129774e+09

             category                       Title  uploads         Country  \
0               Music                    T-Series    20082           India
1    Film & Animation               youtubemovies        1   United States
2       Entertainment                     MrBeast      741   United States
3           Education  Cocomelon - Nursery Rhymes      966   United States
4               Shows                   SET India   116536           India
..                ...                         ...      ...             ...
990            Sports                Natan por A�     1200          Brazil
991    People & Blogs    Free Fire India Official     1500           India
992               NaN                 HybridPanda     2452  United Kingdom
993            Gaming                 RobTopGames       39          Sweden
994            Comedy                Make Joke Of       62           India

    Abbreviation   channel_type  ...  subscribers_for_last_30_days  \
0             IN          Music  ...                     2000000.0
1             US          Games  ...                           NaN
2             US  Entertainment  ...                     8000000.0
3             US      Education  ...                     1000000.0
4             IN  Entertainment  ...                     1000000.0
..           ...            ...  ...                           ...
990           BR  Entertainment  ...                      700000.0
991           IN          Games  ...                      300000.0
992           GB          Games  ...                        1000.0
993           SE          Games  ...                      100000.0
994           IN         Comedy  ...                      100000.0

     created_year  created_month  created_date  \
0          2006.0            Mar          13.0
1          2006.0            Mar           5.0
2          2012.0            Feb          20.0
3          2006.0            Sep           1.0
4          2006.0            Sep          20.0
..            ...            ...           ...
990        2017.0            Feb          12.0
991        2018.0            Sep          14.0
992        2006.0            Sep          11.0
993        2012.0            May           9.0
994        2017.0            Aug           1.0

     Gross tertiary education enrollment (%)    Population  Unemployment rate  \
0                                       28.1  1.366418e+09               5.36
1                                       88.2  3.282395e+08              14.70
2                                       88.2  3.282395e+08              14.70
3                                       88.2  3.282395e+08              14.70
4                                       28.1  1.366418e+09               5.36
..                                       ...           ...                ...
990                                     51.3  2.125594e+08              12.08
991                                     28.1  1.366418e+09               5.36
992                                     60.0  6.683440e+07               3.85
993                                     67.0  1.028545e+07               6.48
994                                     28.1  1.366418e+09               5.36

     Urban_population   Latitude  Longitude
0         471031528.0  20.593684  78.962880
1         270663028.0  37.090240 -95.712891
2         270663028.0  37.090240 -95.712891
3         270663028.0  37.090240 -95.712891
4         471031528.0  20.593684  78.962880
..                ...        ...        ...
990       183241641.0 -14.235004 -51.925280
991       471031528.0  20.593684  78.962880
992        55908316.0  55.378051  -3.435973
993         9021165.0  60.128161  18.643501
994       471031528.0  20.593684  78.962880

[995 rows x 28 columns]

In [27]:
#Generate a Report
profile = ProfileReport(dataset)
profile.to_file(output_file="Global YouTube Statistics.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]